/MapTransform/MapTransform/bin/
/MapTransform/MapTransform/obj/
/MapTransform/packages/
/MapTransform/.vs/MapTransform/v14/*.suo
/MapTransform/Core/obj/
/MapTransform/Core/bin/
/MapTransform/CustomImageMapWeb/node_modules/
/MapTransform/.vs/restore.dg
/MapTransform/CustomImageMapWeb/bin/
/MapTransform/CustomImageMapWeb/obj/
/MapTransform/CustomImageMapWeb/App_Data/tmp/
/MapTransform/CustomImageMapWeb/wwwroot/result.kmz
