<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" type="text/css" href="~/libs/leaflet/leaflet.css" />
</head>
<body>

    @RenderBody()

    <script src="~/libs/leaflet/leaflet.js"></script>
    <script src="~/libs/jquery.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>
